@page "/login"

@using System.Security.Claims

@layout LoginLayout

<h3>Login</h3>

<div class="content">

    @if(mostrarMensaje)
    {
        <div class="alert-danger">@mensaje</div>
    }

    <EditForm Model="loginModel"  OnValidSubmit="OnLogin" FormName="login" >

        <DataAnnotationsValidator /> 
        <ValidationSummary />       

        <InputText class="form-control" @bind-Value="loginModel.Usuario"/>
        <ValidationMessage For="@(() => loginModel.Usuario)" />

        <InputText class="form-control" @bind-Value="loginModel.Clave" />
        <ValidationMessage For="@(() => loginModel.Clave)" />  

        <button type="submit" class="btn btn-primary">Ingresar</button>
    </EditForm>

</div>

